@use '../variables' as v;

.contact {
  @extend %section;
  background: url(/images/home/contact-highlight.png) center / contain no-repeat,
    url(/images/home/background.png) center / cover no-repeat;
}

.container {
  @extend %inner-container;
  gap: 3.875rem;
  padding: 0 5rem;
  max-width: 1200px;
}

.imageOverlap {
  display: flex;
  max-width: 100%;
  min-width: 461px;
  max-height: 440px;
  position: relative;
  place-items: center;
}

.profile,
.outerMandala,
.innerMandala,
.resumeTxt {
  position: absolute;
  font-size: 0;
}

.profile {
  bottom: 0;
  right: 0;
}

.outerMandala {
  top: 0;
  left: 0;
}

.innerMandala {
  top: 74px;
  left: 72px;
  // correction for off-center positioning
  transform-origin: 49.8% 49.5%;
  animation: rotation 90s infinite linear;
}

.resumeTxt {
  bottom: 0;
  right: 213px;
  .img {
    cursor: pointer;
    transition: filter 0.2s ease;
    filter: drop-shadow(0 0 0 white);
    &:hover {
      filter: drop-shadow(0 0 3px white);
    }
  }
}

.connect {
  max-width: 50%;
  h2 {
    margin-bottom: 2rem;
  }
  h2::before {
    content: url(/images/home/white-star.svg);
    margin: 0 0.5rem 0 -1.7rem;
  }
  p {
    margin-bottom: 2.875rem;
  }
}

.callToAction {
  @extend %button;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
