@use '../variables' as v;

.hero {
  @extend %section;
  background: url(/images/home/background-home.png) center / cover no-repeat;
  &Text {
    width: 100%;
    max-width: 1140px;
    text-align: center;
  }
}

.heading {
  font-size: 4rem;
  margin-bottom: 0.3rem;
  font-family: 'Cigra', sans-serif;
}

.subheading {
  font-size: 1.5rem;
}

.star {
  display: block;
  margin-bottom: -2.1rem;
}
