@use '../../variables' as v;

.container {
  gap: v.$gap-xs;
  display: flex;
  margin-bottom: v.$gap-xl;
  justify-content: center;
  .callToAction {
    @extend %button;
    margin-top: v.$gap-m;
  }
}
