@use '../variables' as v;

.container {
  padding: 0 2rem;
  margin: 0 auto v.$gap-xl auto;
  max-width: v.$container-width;
}

.gallery {
  display: grid;
  margin: 0 auto;
  grid-gap: 8px;
  margin-bottom: v.$gap-m;
  max-width: calc(288px * 3 + 1rem);
  grid: repeat(2, 1fr) / repeat(3, 1fr);
}

.writeUp {
  display: flex;
  gap: 2.5rem;
  h2 {
    width: 302px;
    height: 87px;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding: 2rem 0 0 2rem;
    background: url(/images/home/about-decor.png) no-repeat left center;
    background-size: contain;
  }
  p {
    font-size: 19px;
    @extend %paragraph;
  }
  a {
    @extend %button;
    margin-top: v.$gap-s;
  }
}
