@use '../variables' as v;

.container {
  padding: 0 2rem;
}

.gallery {
  gap: 2rem;
  display: grid;
  margin-bottom: v.$gap-m;
  grid: 1fr / repeat(3, 1fr);
  // gallery images shown only on hover:
  > span {
    cursor: pointer;
    // sets the background images for the gallery
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        &::before {
          background-image: url(/images/graphic-design/my-celium/my-celium-#{$i}a.png);
        }
        &::after {
          background-image: url(/images/graphic-design/my-celium/my-celium-#{$i}b.png);
        }
      }
    }
    &::before,
    &::after {
      content: '';
      width: 360px;
      height: 360px;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      background: url(/images/favicon.ico) center / cover no-repeat;
    }
    &::after {
      top: 0;
    }
    &:hover::before {
      animation: fadefirst 5s 1 ease;
    }
    &:hover::after {
      animation: fadesecond 5s 1 ease;
    }
    &::before {
      z-index: 1;
    }
  }
}

.writeUp {
  gap: 5rem;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    @extend %paragraph;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  a {
    font-size: 18px;
  }
  .callToAction {
    @extend %button;
  }
}

// animations
@keyframes fadefirst {
  from {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadesecond {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
