@use '../variables' as v;

.container {
  padding: 0 2rem;
}

.writeUp {
  gap: 5rem;
  display: flex;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 18px;
    @extend %paragraph;
  }
  a {
    font-size: 18px;
  }
}

.gallery {
  gap: 2rem;
  display: grid;
  margin-bottom: v.$gap-m;
  grid-template-columns: 1fr 1fr 1fr;
  // gallery images shown only on hover:
  > span {
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      width: 360px;
      height: 360px;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      transition: opacity 1.6s ease;
      background: url(/images/favicon.ico) center / cover no-repeat;
    }
    &:hover::before,
    &:hover::after {
      opacity: 0;
    }
    &::before {
      z-index: 1;
    }
    &::after {
      top: 0;
      transition-delay: 1s;
    }
  }
}

// sets the background images for the gallery
@for $i from 1 through 3 {
  .gallery > span:nth-child(#{$i}) {
    &::before {
      background-image: url(/images/graphic-design/my-celium/my-celium-#{$i}a.png);
    }
    &::after {
      background-image: url(/images/graphic-design/my-celium/my-celium-#{$i}b.png);
    }
  }
}

.callToAction {
  @extend %button;
}
