@use '../../variables' as v;

.container {
  @extend %container;
  main {
    width: 100%;
    margin-top: 0;
  }
}

.pageHeading {
  @extend %page-heading;
  line-height: 0;
  margin-top: 0;
  padding-top: 44px;
  padding-bottom: 27px;
}

.bannerImg {
  width: 100%;
  display: flex;
  aspect-ratio: 48 / 17;
  justify-content: center;
  margin-bottom: v.$section-spacing;
  background: url(/images/ux-ui/vibe/banner.png) no-repeat top center;
  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 994px;
    height: min-content;
    margin-top: v.$gap-l;
    justify-content: space-between;
    .intro {
      h2,
      h3,
      p {
        color: #e1e1e1;
        font-family: 'Lato';
      }
      h2 {
        color: #e1e1e1;
        font-size: 3.5rem;
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 1.3rem;
      }
      p {
        max-width: 379px;
        font-size: 1.5rem;
      }
    }
    a {
      @extend %button;
      color: white;
      padding: 1.1rem 2rem;
    }
  }
}
