@use '../variables';

.pageHeading {
  @include variables.page-heading;
}

.container {
  display: grid;
  place-items: center;
  background: url(/images/background-latest.png) center center / cover no-repeat
    fixed;
  & > div {
    margin-bottom: 9rem;
  }
}
