@use '../variables';

.container {
  overflow: auto;
  height: 100vh;
  display: grid;
  place-items: center;
  background: url(/images/background-latest.png) center center / cover no-repeat
    fixed;
  & > div {
    margin-bottom: 9rem;
  }
}

.pageHeading {
  @include variables.page-heading;
}
