@use '../variables' as v;

.container {
  max-width: v.$container_fine-art;
  margin-bottom: v.$section-spacing;
}

.writeUp {
  gap: 55px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}

.gallery {
  display: grid;
  margin-bottom: v.$gap-xs;
  grid: 1fr / repeat(3, 1fr);
  gap: 0.5rem;
  &Link {
    font-size: 0;
    cursor: pointer;
    max-width: 289px;
    max-height: 288px;
    span {
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 0 !important;
      }
    }
    &:nth-child(1) {
      background-image: url(/images/fine-art/holoscene/holoscene-3.png);
    }
    &:nth-child(2) {
      background-image: url(/images/fine-art/holoscene/holoscene-1.png);
    }
    &:nth-child(3) {
      background-image: url(/images/fine-art/holoscene/holoscene-6.png);
    }
  }
}
