@use '../variables' as v;

.container {
  padding: 0 2rem;
  max-width: 1000px;
  margin-bottom: v.$section-spacing;
}

.writeUp {
  display: flex;
  gap: 4rem;
  justify-content: center;
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
    max-width: 592px;
  }
}

.gallery {
  display: grid;
  margin-bottom: v.$gap-xs;
  grid: 1fr / repeat(3, 1fr);
  gap: calc((925px - 289px * 3) / 2);
  &Link {
    font-size: 0;
    cursor: pointer;
    max-width: 289px;
    max-height: 288px;
    span {
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 0 !important;
      }
    }
    &:nth-child(1) {
      background-image: url(/images/fine-art/holoscene/holoscene-3.png);
    }
    &:nth-child(2) {
      background-image: url(/images/fine-art/holoscene/holoscene-1.png);
    }
    &:nth-child(3) {
      background-image: url(/images/fine-art/holoscene/holoscene-6.png);
    }
  }
}

.caption {
  font-size: 1rem;
  max-width: 173px;
}
