@use '../variables' as v;

.container {
  padding: 0 2rem;
  max-width: 1000px;
}

.gallery {
  display: grid;
  grid-gap: 0.25rem;
  gap: calc((925px - 217px * 4) / 3);
  margin: 0 auto v.$gap-xs;
  grid: 1fr / repeat(4, 1fr);
}

.writeUp {
  display: flex;
  gap: 4rem;
  justify-content: center;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
    max-width: 417px;
  }
}
