.container {
  margin-top: 9rem;
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  max-width: 1000px;
}

.galleryLink {
  font-size: 0;
}

.writeUp {
  max-width: 381px;
}

.writeUp h2,
.writeUp h3,
.writeUp h4 {
  font-family: 'Bellefair', sans-serif;
  font-weight: 400;
}

.writeUp h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.writeUp h3 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.writeUp h4 {
  font-size: 1rem;
  margin-bottom: 2.4rem;
}

.writeUp p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  margin-bottom: 1rem;
  width: 512px;
}

.caption {
  max-width: 173px;
  font-size: 1rem;
}
