.container {
  gap: 2rem;
  display: flex;
  padding: 0 2rem;
  max-width: 1000px;
  margin-top: 9rem;
}

.writeUp {
  max-width: 381px;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 2.4rem;
  }
  p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  margin-bottom: 1rem;
  width: 512px;
  &Link {
    font-size: 0;
    background: #4b4a43;
    position: relative;
    display: inline-block;
    span {
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 0.1 !important;
      }
    }
  }
  &Caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
}

.caption {
  max-width: 173px;
  font-size: 1rem;
}
