.inOrganic {
}

.container {
  margin-top: 9rem;
  display: flex;
  gap: 2.5rem;
  padding: 2rem;
  max-width: 933px;
}

.gallerySection {
  width: 512px;
}

.writeUp {
  max-width: 381px;
}

.writeUp h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.writeUp h3,
.writeUp h4 {
  font-size: 1rem;
}

.writeUp p {
  font-size: 18px;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  margin-bottom: 1rem;
}

.caption {
  max-width: 173px;
  font-size: 1rem;
}
