@use '../variables' as v;

.container {
  max-width: v.$container_fine-art;
  margin-bottom: v.$section-spacing;
}

.gallery {
  gap: 8px;
  display: flex;
  margin: 0 auto v.$gap-xs;
  // gallery images shown only on hover:
  .img {
    font-size: 0;
    span {
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 0 !important;
      }
    }
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        background-image: url(/images/fine-art/site/site-#{$i+3}.png);
      }
    }
  }
}

.writeUp {
  gap: 55px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
  }
}
