@use '../../variables' as v;

.container {
  @extend %container;
  main {
    margin-top: 4rem;
  }
}

.pageHeading {
  @extend %page-heading;
}

.bannerImg {
  text-align: center;
  margin-bottom: 2.8rem;
}
