@use '../../variables' as v;

.callToAction {
  &Prototype {
    display: block;
    margin: 0 0 v.$gap-s auto;
    @extend %button;
  }
  &FullFile {
    @extend %button;
  }
}

.container {
  display: flex;
  gap: v.$gap-xs;
  margin-bottom: v.$gap-xl;
  justify-content: center;
  max-width: v.$container-width;
  .writeUp {
    max-width: 337px;
  }
  h3 {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: 'Poppins';
  }
  p {
    margin-bottom: 4rem;
  }
}
