@use '../../variables' as v;

.container {
  display: flex;
  gap: v.$gap-l;
  margin-bottom: v.$gap-xl;
  justify-content: center;
  max-width: v.$container-width;
  .writeUp {
    max-width: 337px;
    h3 {
      font-weight: 500;
      font-size: 1.2rem;
      font-family: 'Poppins';
    }
    p {
      margin-bottom: v.$gap-m;
      &:last-of-type {
        margin-bottom: v.$gap-l;
      }
    }
    .callToAction {
      @extend %button;
    }
  }
}
