.container {
  padding: 0 2rem;
  margin-top: 9rem;
  max-width: 1144px;
}

.writeUp {
  gap: 5rem;
  display: flex;
  max-width: 483px;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  a {
    font-size: 18px;
  }
}

.gallery {
  gap: 2rem;
  display: grid;
  margin-bottom: 3.3rem;
  grid-template-columns: 1fr 1fr 1fr;
  span {
    cursor: pointer;
  }
}
.img1 {
  background: url(/images/illustration/culture/culture-1b.png);
  background-size: 100% 100%;
}
