.container {
  padding: 0 2rem;
  margin-top: 9rem;
  max-width: 1144px;
}

.writeUp {
  display: flex;
  gap: 5rem;
  max-width: 483px;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  a {
    font-size: 18px;
  }
}

.gallery {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3.3rem;
  &Link {
    font-size: 0;
  }
}
