@use '../variables';

.container {
  display: grid;
  place-items: center;
  background: url(/images/background-latest.png) center center / cover no-repeat
    fixed;
}

.pageHeading {
  @include variables.page-heading;
}
