@use '../variables' as v;

.container {
  margin-top: 7rem;
  display: flex;
  .writeup {
    margin-top: 5rem;
    max-width: 400px;
    z-index: 1;
    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 1.5rem;
      strong {
        font-weight: 500;
      }
    }
  }
  .iPhoneImg {
    margin-left: -9rem;
  }
}

.callToAction {
  @extend %button;
}
