@use '../variables' as v;

.container {
  @extend %container;
  main > div {
    margin-bottom: 9rem;
    &:last-child {
      margin-bottom: v.$gap-xl;
    }
  }
}

.pageHeading {
  @extend %page-heading;
}

.images,
.writeups {
  gap: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.images {
  align-items: start;
  margin-bottom: v.$section-spacing;
  > div {
    cursor: pointer;
  }
}

.heading {
  font-size: 6rem;
  line-height: 0.8;
  font-family: 'RetroSignature';
}

.writeups {
  margin-bottom: 8.5rem;
  max-width: v.$container-width;
  justify-content: space-between;
  div {
    max-width: 26ch;
  }
  p {
    @extend %paragraph;
    margin-bottom: 1rem;
  }
}

.callToAction {
  @extend %button;
}
