@use '../variables' as v;

.container {
  margin-top: 7rem;
  display: flex;
  .iPhoneImg {
    margin-right: -12rem;
  }
  .writeup {
    margin-top: 6.2rem;
    z-index: 1;
    .vaaibImg {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 1.5rem;
      strong {
        font-weight: 500;
      }
    }
  }
}

.callToAction {
  @extend %button;
}
