@use '../variables';

.container {
  min-height: 582px;
  min-width: 782px;
  margin-top: 7rem;
  background: url(/images/ux-ui/iPhone.png) center left / contain no-repeat;
  .writeup {
    margin-left: 24rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 18px;
      margin-bottom: 2rem;
    }
    a {
      font-size: 18px;
    }
  }
}

.callToAction {
  @extend %button;
}
