.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  background: url(../public/background-about.png) center center / cover
    no-repeat;
}

.container {
  width: 100%;
  gap: 2.5rem;
  display: flex;
  max-width: 540px;
  place-content: center;
}

.section h2 {
  width: 420px;
  height: 123px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 8.6rem;
  margin-bottom: 4rem;
  font-family: 'Bellefair', sans-serif;
  background: url(../public/about-decor.png) no-repeat left center;
}

.section h2::before {
  content: '';
  width: 2rem;
  display: inline-block;
}

.section p {
  line-height: 36px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.link {
  color: #464237;
  font-size: 1.5rem;
  text-decoration: underline;
}
