@use 'variables';

.about {
  @include variables.section;
  background: url(/images/home/background-about.png) center center / cover
    no-repeat;
}

.container {
  @include variables.inner-container;
  gap: 2.5rem;
  max-width: 540px;
}

.section {
  h2 {
    width: 420px;
    height: 123px;
    margin-left: -10rem;
    margin-bottom: 1.6rem;
    line-height: 8.6rem;
    font-family: 'Bellefair', sans-serif;
    background: url(/images/home/about-decor.png) no-repeat left center;
    &::before {
      content: '';
      width: 2rem;
      display: inline-block;
    }
  }
  p {
    line-height: normal;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.link {
  color: variables.$darker;
  font-size: 1.2rem;
  text-decoration: underline;
}
