@use 'variables';

.about {
  @extend %section;
  background: url(/images/home/background-about.png) center / cover no-repeat;
}

.container {
  @extend %inner-container;
  gap: 2.5rem;
  max-width: 540px;
}

.section {
  h2 {
    width: 420px;
    height: 123px;
    padding-left: 2rem;
    margin-left: -10rem;
    margin-bottom: 1.6rem;
    line-height: 8.6rem;
    background: url(/images/home/about-decor.png) no-repeat left center;
  }
  p {
    font-size: 1.2rem;
    line-height: normal;
    margin-bottom: 2rem;
  }
}

.link {
  color: variables.$darker;
  font-size: 1.2rem;
  text-decoration: underline;
}
