@use 'variables';

.contact {
  @include variables.section;
  background: url(/images/home/contact-highlight.png) center center / contain
      no-repeat,
    url(/images/home/background.png) center center / cover no-repeat;
}

.container {
  @include variables.inner-container;
  gap: 3.875rem;
  padding: 0 5rem;
  max-width: 1200px;
}

.imageOverlap {
  display: grid;
  max-width: 487px;
  align-content: center;
}

.aboutImgs {
  max-width: 100%;
}

.resumeTxt {
  margin: -32% 25%;
  height: 120px;
  width: 120px;
  &Img {
    cursor: pointer;
    transition: filter 0.2s ease;
    filter: drop-shadow(0px 0px 0px white);
    animation: rotation 10s infinite linear;
    &:hover {
      filter: drop-shadow(0px 0px 3px white);
    }
  }
}

.img,
.resumeTxtImg {
  max-width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.connect {
  width: 50vw;
  margin: auto 0;
  h2 {
    margin-bottom: 2rem;
  }
  h2::before {
    content: url(/images/home/white-star.svg);
    margin: 0 0.5rem 0 -1.7rem;
  }
  p {
    line-height: normal;
    margin-bottom: 2.875rem;
  }
}

.callToAction {
  font-size: 1rem;
  border-radius: 3rem;
  border: 1px solid white;
  color: variables.$darker;
  display: inline-block;
  padding: 0.7rem 2.5rem;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #fff4;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .imageOverlap {
    width: 90vw;
  }
}
