@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Cigra';
  src: url(../public/fonts/Cigra.ttf) format('truetype'),
    url(../public/fonts/Cigra.woff2) format('woff2'),
    url(../public/fonts/Cigra.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
