@use 'variables' as v;

.footer {
  width: 100%;
  border-top: 1px solid white;
}

.innerFooter {
  display: flex;
  margin: 0 auto;
  height: 6.25rem;
  text-align: center;
  align-items: center;
  @extend %footer;
  justify-content: space-between;
  > p,
  > div,
  > ul {
    width: 15%;
  }
  ul {
    text-align: left;
    li {
      &::marker {
        content: '• ';
      }
      a {
        font-size: 1.2rem;
        font-family: 'Bellefair';
        &:hover {
          color: v.$light;
          transition: color 0.1s linear;
        }
      }
    }
  }
}

.logo {
  @extend %logo;
  line-height: 0;
  margin-bottom: 0.5rem;
  a {
    font-size: 2.5rem;
  }
  &::before {
    width: 17px;
    height: 25px;
    background-size: 17px 25px;
  }
}
