@use 'variables';

.footer {
  width: 100%;
  border-top: 1px solid white;
  text-align: center;
  height: 6rem;
}

.logo {
  @include variables.logo;
  margin-top: 1.6rem;
  line-height: 0;
  &::before {
    width: 17px;
    height: 25px;
    background-size: 17px 25px;
  }
}
