@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bellefair', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2d333b;
}

*::-webkit-scrollbar-thumb {
  background-color: #848484;
  border-radius: 20px;
}
