@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Rosie Brown';
  src: url(./fonts/Rosiebrown.woff2) format('woff2'),
    url(./fonts/Rosiebrown.woff) format('woff');
  font-style: normal;
  font-display: swap;
}

:root {
  --dark: #181a1d;
  --light: #696666;
  --lightest: #848484;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* for Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--lightest) var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rosie Brown', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--lightest);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  border-radius: 20px;
  border: 1px solid rgb(102, 102, 102);
}
