.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  background: url(../public/background.png) center center / cover no-repeat;
}

.heroText {
  max-width: 1140px;
  width: 100%;
}

.heading {
  font-size: 6rem;
  font-weight: 400;
}

.subheading {
  font-family: Poppins, sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}
