@use 'variables' as v;

.container {
  left: 50%;
  bottom: 1rem;
  margin: 0 auto;
  position: fixed;
  @extend %footer;
  pointer-events: none;
  transform: translateX(-50%);
}

.backToTop {
  gap: 10px;
  display: flex;
  line-height: 1;
  cursor: pointer;
  width: max-content;
  margin: 0 0 0 auto;
  pointer-events: all;
  place-content: center;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out,
    transform 0.25s cubic-bezier(0.76, 0.45, 0.19, 1.78);
  &:hover {
    transform: scale(1.1);
    color: v.$dark;
  }
  svg {
    margin-left: 1rem;
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.invisible {
  opacity: 0;
  transform: translateY(69px);
}
