@use 'variables' as v;

.container {
  @extend %footer;
  left: 50%;
  bottom: 1rem;
  display: flex;
  margin: 0 auto;
  position: fixed;
  align-items: center;
  pointer-events: none;
  transform: translateX(-50%);
  justify-content: space-between;
}

.backToTop {
  opacity: 0;
  gap: 10px;
  display: flex;
  line-height: 1;
  cursor: pointer;
  pointer-events: all;
  flex-direction: column;
  transform: translateY(69px);
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out,
    transform 0.25s cubic-bezier(0.76, 0.45, 0.19, 1.78);
  &:hover {
    transform: scale(1.1);
    color: v.$dark;
  }
  svg {
    margin: 0 auto;
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.scrollDown {
  opacity: 1;
  cursor: pointer;
  font-size: 1.5rem;
  pointer-events: all;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
  &.invisible {
    opacity: 0;
  }
}
