@use 'globals';

.scrollIcon {
  right: 0;
  bottom: 0;
  position: fixed;
  font-size: 2rem;
  cursor: pointer;
  margin: 0.8rem 1.4rem;
  color: $lightest;
  transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out,
    transform 0.25s cubic-bezier(0.76, 0.45, 0.19, 1.78);
}

.scrollIcon:hover {
  color: $dark;
  transform: scale(1.2);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.invisible {
  opacity: 0;
  transform: translateY(69px);
}
