.pageHeading {
  width: 100%;
  top: 2.5rem;
  font-weight: 400;
  font-size: 2.5rem;
  position: absolute;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  font-family: 'Bellefair', sans-serif;
}
