.work {
  height: 100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(../public/background.png) center center / cover no-repeat;
}

.container {
  width: 100%;
  gap: 2.5rem;
  display: flex;
  max-width: 1340px;
  align-items: center;
  place-content: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.section {
  max-width: 360px;
}

.section h2 {
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Bellefair', sans-serif;
}
